################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/youtubeclone.metadata.v5.2
/.vs/ProjectEvaluation/youtubeclone.projects.v5.2
/.vs/YoutubeClone/FileContentIndex/122d333e-1e30-4aac-aa49-8723961d3ac5.vsidx
