
<h1>Test video stream</h1>

<video *ngIf="fileAddress"
       style="width:300px; height:300px;"
       controls>
       <source [src]="fileAddress" type="video/mp4">
</video>


<h1 class="mb-3">Movies</h1>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Owner</td>
            <td>Tags</td>
            <td>SourceFileName</td>
            <td>CreatedAt</td>
            <td>ModifiedAt</td>
            <td>Ratings</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ Movies.id}}</td>
            <td>{{ Movies.owner}}</td>
            <td>{{ Movies.tags}}</td>
            <td>{{ Movies.sourceFileName}}</td>
            <td>{{ Movies.createdAt}}</td>
            <td>{{ Movies.modifiedAt}}</td>
            <td>{{ Movies.ratings}}</td>
        </tr>
    </tbody>
</table>