<div class = "container my-5">
    <h1 class="mb-3">Edit Movie</h1>

    <form #form="ngForm" (ngSubmit)="EditRatingMethod()">
        <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="number" class="form-control" id="id" [(ngModel)]="edit_rating.id" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
            <label for="value" class="form-label">Value</label>
            <input class="form-control" type="number" id="value" [(ngModel)]="edit_rating.value" [ngModelOptions]="{standalone: true}">
        </div>
      <button type="submit" class="btn btn-primary">Confirm</button>
      <button type="button" class="btn btn-danger" (click)="DeleteRatingMethod(edit_rating.id)">Delete</button>
    </form>
</div>
   
